# منفذ السيرفر
PORT=3000

# مفتاح التشفير للـ JWT Tokens
JWT_SECRET=elkheta_super_secret_jwt_2026

# خيار 1: استخدام رابط قاعدة البيانات المباشر (مثل TiDB Cloud أو Aiven)
# DATABASE_URL=mysql://username:password@gateway01.eu-central-1.prod.aws.tidbcloud.com:4000/elkheta_db?ssl={"rejectUnauthorized":false}

# خيار 2: استخدام المتغيرات المنفصلة
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=elkheta_db
DB_PORT=3306
DB_SSL=false
